WindowsFormsClient/Connected Services/MathServiceReference/MathService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Demo2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Demo2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MyNumbers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number1" type="xs:int" />
      <xs:element minOccurs="0" name="Number2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyNumbers" nillable="true" type="tns:MyNumbers" />
</xs:schema>